html, body {
    margin: 0;
}
#imagem_fundo {
    background-image: url("paginicial.jpg");
    background-size: contain;
    height: 768px;
    width: 1366px;
    background-position: 92px;

}
#pag1{
    background-image: url("1pag.jpg");
    background-size: contain;
    height: 100%;
    width: 100%;
    background-position: 30% 45%;
   
}
p{margin-top: 4cm;
margin-bottom: 4cm;
margin-right: 5cm;
margin-left: 5cm;
font-size: 19px;
font-family: 'Courier New', Courier, monospace;
font-weight: normal;
color:#A0522D ;
word-spacing: 1px;
text-align: justify;}
